@import '../styles/styles.css';


:root{
	--acent-color-w: #ce92e3;
	--white-w: #ffffff;
	--bg-color-w: #0f1622;

	--32px: 32px;
	--24px: 24px;
	--18px: 18px;
	--16px: 16px;

	--Montserrat: 'Montserrat', sans-serif;
	--Open-Sans: 'Open Sans', sans-serif;


	--regular: 400;
	--medium: 500;
	--semibold: 600;
	--bold: 700;
}

.create-post {
	font-family: var(--Montserrat);
}
.create-post__content {
	margin-top: 170px;
}
.title-post-block, .content-post-block {
	max-width: 500px;
	display: flex;
	justify-content: space-between;
}
.title-post, .content-post {
	font-size: var(--24px);
	color: var(--white-w);
	font-weight: var(--medium);
	margin-right: 15px;
}
.title-post-input {
	max-width: 150px;
	min-width: 150px;
	max-height: 30px;
	min-height: 30px;
	padding: 10px 70px 70px 10px;
}
.content-post-block {
	margin-top: 30px;
}

.content-post-input {
	max-width: 150px;
	min-width: 150px;
	max-height: 30px;
	min-height: 30px;
	padding: 10px 70px 70px 10px;
}

.upload-post-block{
	margin-top: 45px;
}

.btn-post{
	cursor: pointer;
	outline: none;
	border: none;
}